{% if session.get('username') %}
<form method="POST" action="/">
  <input name="submitter" value="{{session.get('username')}}" placeholder="submitter">
  <input name="book_olid" placeholder="Book olid">
  <input name="prereq_olid" placeholder="Prereq olid">
  <input name="weight" value="1" placeholder="Weight">
  <input type="submit">
</form>
{% endif %}
<ul>
  {% for level in trailmap['trailmap'] %}
    <li class="forks">
      <div>Level {{loop.index}}</div>
      {% for edge in level %}
      <div {{ 'class=selected' if loop.index == 1}}>
        {% set book = trailmap["book_data"][edge.book_olid] %}
        {% set availability = book.get('availability', {}) %}
        <a href="/book/{{ edge['book_olid'] }}">
          <img class="bookcover"
               src="//covers.openlibrary.org/b/olid/{{ book.cover_edition_key }}-M.jpg">
        </a>
        <h3>
          <a href="https://openlibrary.org/works/{{ edge['book_olid'] }}">{{ book.title }}</a>
        </h3>
        {% if availability.get('status') and availability.get('status') != 'error' %}
          <div class="read-options">
            <a href="https://openlibrary.org/borrow/ia/{{ availability.get('identifier') }}?ref=ol"
               class="cta">
              {{ availability.get('status') }}
            </a>
          </div>
        {% endif %}
          {% if loop.index < 4 %}
            {{ ["🥇", "🥈", "🥉"][loop.index - 1]}}
          {% endif %}
          {{ edge['count'] }} ❤️
      </div>
    {% endfor %}
    </li>
  {% endfor %}
</ul>
      
